.navContainer > ul {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.navContainer a {
  text-decoration: none;
  background-color: aqua;
}
a:active {
  background-color: hotpink;
}
a {
  text-decoration: none;
}

li {
  text-decoration: none;
  list-style-type: none;
}
.AppContainer {
  display: grid;
  grid-template-columns: 30% 40% 30%;
}
.container {
  display: flex;
  flex-direction: column;
  border: 1px solid beige;
  border-radius: 10px;
}

.logininfo {
  height: 50px;
  background-color: rgb(209, 218, 219);
  text-align: center;
}
.selectUser {
  height: 50px;
  margin: 10px;
  text-align: center;
}

.container select {
  width: 40%;
}

.avatar {
  height: 80px;
  border-radius: 25px;
  margin: 10px;
}

.questionView {
  border: 1px solid beige;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 30px auto;
  justify-content: start;
  margin: 5px;
}
.header {
  grid-column: 1 / span 2;
  background-color: lightblue;
  padding-left: 20px;
}

.questioninfo {
  display: flex;
  flex-direction: column;
  margin-left: 110px;
  justify-content: space-around;
}

.qnToggleButton {
  width: 50%;
}

.resultbarContainer {
  border: 1px solid grey;
  background-color: rgb(236, 227, 227);
  border-radius: 5px;
}

.resultbar {
  height: 20px;
  background-color: rgb(149, 245, 216);
}

.yourAnswer {
  background-color: rgb(219, 226, 230);
  border-radius: 4px;
  position: relative;
}

.voteBadge {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  position: absolute;
  top: 0px;
  right: -20px;
  background-color: yellow;
  font-size: small;
  text-align: center;
}

.options {
  margin: auto;
  width: 80%;
  margin-top: 10px;
}

.submitQuestion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.submitQuestion > button {
  width: 80%;
  margin: auto;
  margin-top: 10px;
  background-color: rgb(139, 238, 139);
}

.newqwestionheader {
  border-bottom: 1px solid grey;
}
